# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# macOS
.DS_Store**/.terraform/
**/.terraform/
**/.terraform/
**/.terraform/
**/terraform.tfstate*

# Ignore study/notes docs
Infra/Terraform/environments/staging/Doc 1 — What All the Files in staging (files) Do (from my perspective).md
Infra/Terraform/modules/cloudfront_oac/Doc 2 — What All the Files in cloudfront_oac (files) Do (from my perspective).md